<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>
    <link
     rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
   />
   <link 
    rel="stylesheet" 
    href="https://unpkg.com/@coreui/icons/css/all.min.css"
    />
</head>
<body>
    <div class='container'>
        <!-- Add Jumbotron to Header -->
        <div class='jumbotron text-center'>
            <h1>Mission to Mars</h1>
            <!-- Add a button to activate scraping script -->
            <a href="/scrape">
                <button type="button" class='btn btn-primary btn-lg'>
                    <span class='cil-zoom'></span>   Scrape New Data
                </button>
            </a>         
        </div>
        <!-- Add section from Mars News -->
        <div class="row" id="mars_news">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-body">
                        <h2>Latest Mars News</h2>
                        <h4 class="media-heading">{{mars.news_title}}</h4>
                        <p>{{mars.news_paragraph}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Featured Image -->
        <div class="row" id="mars-featured-image">
            <div class="col-xs-12 col-md-8">
                <h2>Featured Mars Image</h2>
                <img 
                    src="{{mars.featured_image}}" 
                    class='img-responsive' 
                    alt='Responsive image'
                />
            </div>
            <!-- Mars Facts -->
            <div class="col-xs-6 col-md-4">
                <div class="img-responsive" id="mars-facts">
                    <h2>Mars Facts</h2>
                    {{mars.facts | safe }}
                </div>
            </div>
        </div>
        <!-- Add Hemisphere Images-->
        <div class="row" id='hemisphere'>
            <figure>
                <h2>Mars Hemispheres</h2>
                {% for hemisphere in mars.hemi_images %}
                <img src="{{hemisphere['img_url']}}" alt="{{hemisphere['title']}}" class="col-xs-6 col-md-3 img-thumbnail">
                    <div class='caption'>
                    <h14>{{hemisphere['title']}}</h14>
                    </div>
                {% endfor %}
            </figure>    
        </div>
    </div>
</body>
</html>